{% extends 'base.html.twig' %}
{% trans_default_domain 'login' %}
{% block title %}{{ 'log_in'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="text-center">{{ 'please login'|trans }}</h1>
        <div class="col-6 mx-auto border border-5 shadow rounded p-3 mt-3">

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        {{ 'you_are_logged_in_as'|trans }} {{ app.user.userIdentifier }}
                        <a href="{{ path('app_logout') }}">{{ 'log_out'|trans }}</a>
                    </div>
                {% endif %}


                <div class="row">
                    <div class="col-12">

                        <!-- Email -->
                        <div class="form-group">


                            <label for="inputEmail">{{ 'Your email'|trans }}</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        </div>

                    </div>
                    <div class="col-12">

                        <!-- Password -->
                        <div class="form-group">
                            <label for="inputPassword">{{ 'Your password'|trans }}</label>
                            <input type="password" name="password" id="inputPassword" class="form-control form-control-sm" autocomplete="current-password" required>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                        </div>

                    </div>
                    <div class="col-12 col-md">

                        <!-- Remember -->
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" id="loginRemember" type="checkbox">
                                <label class="form-check-label" for="loginRemember">
                                    {{ "Remember me"|trans}}
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-md-auto">

                        <!-- Link -->
                        <div class="form-group">
                            <a class="fs-sm text-reset"  href="">
                                {{ "Forgot Password?"|trans}}
                            </a>

                        </div>

                    </div>
                    <div class="col-12">
                        <div class="d-grid">
                            <!-- Button -->
                            <button class="btn btn-sm btn-primary" type="submit">
                                {{ 'log_in'|trans}}
                            </button>

                        </div>

                    </div>
                </div>

            </form>
            <div class="form-note text-center mt-3">{{ "Don't Have an Account?"|trans }}
                <a href="{{ path('app_register') }}">{{ "Sign up now"|trans }}</a>

            </div>
        </div>
    </div>


{% endblock %}
