{% extends 'base.html.twig' %}
{% trans_default_domain 'register' %}
{% block title %}{{ 'Registration'|trans }}{% endblock %}

{% block body %}
    <div class="row mt-5">

        <h1 class="text-center">{{ 'Registration'|trans }}</h1>
        <div class="col-6 mx-auto border border-5 rounded shadow p-3 mt-5">
            {{ form_start(registrationForm) }}
            <div class="row">
                <div class="col-6 mt-3">
                    {{ form_row(registrationForm.firstName) }}
                </div>
                <div class="col-6 mt-3">
                    {{ form_row(registrationForm.lastName) }}
                </div>
                <div class="col-12 mt-3">
                    {{ form_row(registrationForm.email) }}
                </div>
                <div class="col-6 mt-3">
                    {{ form_row(registrationForm.plainPassword.first) }}
                </div>
                <div class="col-6 mt-3">
                    {{ form_row(registrationForm.plainPassword.second) }}
                </div>
                <div class="col-12 mt-3">
                    <div class="row">
                        <div class="col-6">
                            {{ form_row(registrationForm.agreeTerms) }}
                        </div>
                        <div class="col-3 ">
                            <a class="text-decoration-none" href="">{{ 'see the term'|trans }}</a>
                        </div>
                    </div>


                </div>
                <div class="col-12 mt-3 mb-3">
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">{{ 'Register'|trans }}</button>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <p class="text-center">
                   {{ 'already have an account?'|trans}}
                    <a class="text-decoration-none" href="{{ path('app_login') }}">{{ 'Login'|trans }}</a>
                </p>

            </div>
        </div>

    </div>

{% endblock %}
