<!DOCTYPE html>
{% trans_default_domain 'base' %}
{% set theme = app.request.cookies.get('theme') %}
{% if theme == 'light' %}
    {% set theme = 'light' %}
{% elseif theme == '' %}
    {% set theme = 'light' %}
{% else %}
    {% set theme = 'dark' %}
{% endif %}
<html lang="{{ app.request.locale }}" data-bs-theme="{{ theme }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title %}{% endblock %} | {{ company().name }}</title>
        <link rel="icon" href="{{ asset('uploads/logo/'~company().logo) }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header>
        <div class="">
        {{ component('TopHeader') }}
        </div>
        {{ component('Header') }}
    </header>
<main class="container mt-5">
    {% block body %}{% endblock %}
</main>

    </body>
</html>
