{% set theme = app.request.cookies.get('theme') %}
{% if theme == 'light' %}
    {% set theme = 'light' %}
{% elseif theme == '' %}
    {% set theme = 'light' %}
{% else %}
    {% set theme = 'dark' %}
{% endif %}
{% trans_default_domain 'topheader' %}
<!-- Promo -->
<div class="me-xl-8 text-center mt-3">
    <i class="fe fe-truck me-2"></i>
    <span class="heading-xxxs">{{ "Free shipping worldwide"|trans }}</span>
</div>
<div class="navbar navbar-topbar navbar-expand" data-bs-theme="{{ theme }}">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav mx-auto mt-3">
                <li class="nav-item">
                    {# toogle for theme #}
                    {% if theme == 'light' %}
                        <a class="nav-link" href="{{ path('app_switch_theme_dark') }}">
                            <i class="fa-solid fa-moon"></i>
                        </a>

                    {% else %}
                        <a class="nav-link" href="{{ path('app_switch_theme_light') }}">
                            <i class="fa-solid fa-sun"></i>
                        </a>
                    {% endif %}
                </li>
                <li class="nav-item dropdown">

                    <!-- Toggle -->
                    <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        {{ app.request.locale|locale_name(app.request.locale)|capitalize }}
                    </a>

                    <!-- Menu -->
                    <div class="dropdown-menu min-w-0">
                        {% for locale in this.local %}
                            <a class="pr-3 dropdown-item {% if app.request.locale == locale %}active{% endif %}"
                               href="{{ path(app.request.get('_route'),
                                   app.request.get('_route_params')|merge({'_locale' : locale})) }}">
                                {{ locale|locale_name|capitalize }}
                            </a>
                        {% endfor %}

                    </div>
                </li>

                <li class="nav-item dropdown">

                    <!-- Toggle -->
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="">
                        {% if app.session.get('currency') == null %}
                            EUR
                        {% else %}
                            {{ app.session.get('currency') }}
                        {% endif %}

                    </a>

                    <!-- Menu -->
                    <div class="dropdown-menu min-w-0">



                    </div>

                </li>

                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="">{{ "my account"|trans|capitalize }}</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin') }}">{{ "administration"|trans|capitalize }}</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">{{ "log_out"|trans|capitalize }}</a>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">{{ "log_in"|trans|capitalize }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">{{ "Registration"|trans|capitalize }}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" class="nav-link" href="">{{ "Contact"|trans|capitalize }}</a>
                </li>
                {% if is_granted('IS_IMPERSONATOR') %}
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="{{ impersonation_exit_path(path('app_home')) }}">{{ "Exit impersonation"|trans|capitalize }}</a>
                    </li>

                {% endif %}
            </ul>
        </div>

    </div>

</div>




